:root {
    --white: #f7f7f7;
    --black: #101010;
    --max-widht: 1100px;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: (180deg, #fff, #f7f7f7);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: var(--max-widht);
}

.menu>li>a {
    color: black;
    text-decoration: none;
    font-weight: 700px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;

}


ul>li:nth-child(3) {
    list-style: circle;
    color: red;

}

ul>i {
    color: black;
    padding-top: 10px;
}


.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-huwaalt {
    display: flex;
    gap: 10px;
    color: black;
}

.img-huwaalt>p {
    color: #fff;
    font-size: 1.4rem;
}

.dollar {
    color: green;
    align-items: center;
    justify-content: center;
    display: flex;
}

.unshih {
    width: 560px;
    height: 385px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;

}



.unshih:hover {
    object-fit: cover;
}

.unshih-read {
    position: relative;
    width: 560px;
    height: 385px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
    opacity: 0;
    transition: 3s;
}


.unshih-read:hover {
    position: relative;
    background: rgba(34, 34, 34, .5);
    background-position: cover;
    object-fit: cover;

    color: #fff;
    opacity: 1;
    transition: 1s ease-in-out;
}

.sun {
    display: flex;
    flex-direction: column;
}

.sun>p {
    height: 20px;
    margin: 0;
    color: black;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.calendar>p {
    height: 20px;
    margin: 0;
    color: black;
}

.img-huwaalt>p {
    height: 20px;
    margin: 7px;
    color: black;
}

.valyut {
    display: flex;
    flex-direction: column;
}

.valyut>p {
    height: 20px;
    margin: 0;
    color: black;
}

.second-btn {
    display: flex;
}

.second-header {
    display: flex;
    border-radius: 20px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, .004);
    background: linear-gradient(90deg, #f4f4f4 7%, hsla(0, 0%, 100%, .220348) 17%);
    width: var(--max-widht);
    height: 385px;
}

.ug {
    padding: 0px 40px 60px 50px;


}

.share {
    background-color: #d3cfcf;
    border-radius: 20px;
    padding: 10px;
    color: #767676;
    gap: 5px;
    display: flex;
}

.share:hover {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
}

.comment {
    display: flex;
    color: #767676;
    gap: 5px;
    padding: 10px;

}

.btn {
    color: #fff;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    border-radius: 20px;
    display: flex;
    padding: 10px;
    width: 100px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.title {
    transition: all .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700px;
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
}

.title2 {
    transition: all .2s ease-in-out;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.str {
    color: #fff;
    background-color: rgb(62, 146, 174);
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    margin-left: 10px;
}

.img {
    width: 542px;
    height: 385px;
    border-radius: 1%;
}

.third-header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    gap: 45px;
    align-items: start;
    width: var(--max-widht);
}

.third-header-tailbar {
    color: #fff;
}

.zurg {
    border-radius: 10px;
    width: 263.75px;
    height: 175px;
    background: url(./noat.jpeg);
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.zurg-read {
    border-radius: 10px;
    width: 263.75px;
    height: 175px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-position: center;
    color: #fff;
    position: relative;
    opacity: 0;

}


.zurg-read:hover {
    background: rgba(34, 34, 34, .5);
    background-position: cover;
    object-fit: cover;

    color: #fff;
    opacity: 1;
    transition: 1s ease-in-out;
}

.card1 {
    width: 232px;
}

.card2 {
    width: 232px;
}

.card3 {
    width: 232px;
}

.card4 {
    width: 272px;
    height: 279px;
    border-radius: 20px;
}

.gogo-logo {
    width: 119px;
    height: 38px;

}

.classss {
    display: flex;
    align-items: center;
    justify-content: center;
}


.story1 {
    background-image: url(https://mgl.gogo.mn/newsn/story/268946-14022021-1613281726-1202919399-valentine-65cd7a86aa3ec923977219.jpg);
    background-position: center;
    background-image: linear-gradient(to bottom, none, black);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 170px;
    height: 235px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.story1:hover {
    background-image: 120%;
    cursor: pointer;
    transition: ease-in-out 2s;
}

.gogo-story {
    width: var(--max-widht);
}


.story2 {
    gap: 15px;
    display: flex;
    overflow: scroll;
    width: 100%;
}

.logo {
    border-radius: 50%;
    background-color: rgb(66, 170, 239);
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card4 {
    background-image: url(./khan\ bank.jpg);
    background-image: url(./3.0.jpg);
    background-image: url(./fuze\ tea.png);
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 3px;
    background-position: center;
    background-size: contain;

}

.btn1 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(72, 155, 207);
}

.btn1:hover {
    background-color: blue;
    opacity: 1;

}

.btn2 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(72, 155, 207);
}

.btn3 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(72, 155, 207);
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.nawc {
    width: 23px;
    height: 26px;
}

.today-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.today_calendar-btn {
    width: 103px;
    height: 7px;
    border-radius: 10px;
    background-color: #efefef;
}

.today_calndar-btn:hover {
    background-color: rgb(83, 145, 189);
}

.today_calendar-day {
    color: #efefef;
}

.today_calendar-day:hover {
    color: rgb(83, 145, 189);
    cursor: pointer;
}

.today_calendar {
    display: flex;
    gap: 15px;
}

.mori {
    width: 210px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
}

.medee {
    display: flex;
    padding-top: 30px;
    gap: 30px;
}

.medee-img {
    position: relative;
    width: 210px;
    height: 150px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
    opacity: 0;
    transition: 3s;
}

.medee-img:hover {
    position: relative;
    background: rgba(34, 34, 34, .5);
    background-position: cover;
    object-fit: cover;
    color: #fff;
    opacity: 1;
    transition: 1s ease-in-out;
}

.surtcilga-img {
    height: 245px;
    display: flex;
}

h1 {
    width: 450px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

p {
    max-width: 450px;
    color: #888888;
}

.medee-reaction {
    display: flex;
    color: #888888;
}

.medee-reaction>p {
    margin-top: 0px;
    padding-right: 30px;
    color: #888888;

}

.medee-btn {
    background: #f8f8f8;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 690px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.medee-btn>img {
    width: 17px;
    height: 21px;
}

.first-section {
    display: flex;
    width: var(--max-widht);
}

.right {
    border-left: 1px solid #efefef;
    padding-left: 30px;
}

.aside-title {
    display: flex;
    align-items: center;
    justify-content: center;

}

.aside-news {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.police {
    position: absolute;
    width: 290px;
    height: 170px;
    border-radius: 10px;

}

.aside-img {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
    opacity: 0;
    transition: 3s;
    position: relative;
    width: 290px;
    height: 170px;

}

.aside-img:hover {
    position: relative;
    background: rgba(34, 34, 34, .5);
    background-position: cover;
    object-fit: cover;

    color: #fff;
    opacity: 1;
    transition: 1s ease-in-out;
}


.aside-read {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.aside-reaction {
    display: flex;
    padding-bottom: 15px;
    color: #efefef;
}

.footer-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-ul>img {
    width: 15px;
    height: 20px;
}

.aside-reaction>p {
    margin-top: 0;
    padding-left: 2px;
    padding-right: 10px;
}

.aside-trend {
    background-color: #fdfaf5;
}

.aside_trend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend1 {
    display: flex;
    padding: 15px;
}

.number {
    font-size: 46px;
    color: #e00034;

}


.trend-reaction {
    display: flex;
    color: #888888;
}

.trend-reaction>p {
    color: #888888;
    margin-top: 0;
}

/* 
hr {
    border-top: 1px initial #888888;
} */
.talk {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.talk>img {
    width: 20px;
    height: 25px;
}

.talk>a {
    text-decoration: dashed;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

}

.talk-card {
    background-image: url(./doljin.jpg);
    background-position: center;
    background-size: cover;
    width: 545px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: end;
}

.card-btn {
    background-color: #407ce8;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.second-btn {
    background-color: #407ce8;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.card-read {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.second-read {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-section {
    width: var(--max-widht);
    display: flex;
}

.second-card-huwaalt {
    padding-top: 14px;
    margin-top: 54px;
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.second_card {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url(https://mgl.gogo.mn/newsn/thumbnail/600/images/c/2023/10/311741-12102023-1697099714-1577351067-1.jpg);
    background-position: center;
    background-size: cover;
    width: 263px;
    height: 243px;
    border-radius: 10px;
}

.third-section {
    width: var(--max-widht);
    overflow: scroll;
    display: flex;
    gap: 15px;
}

.hew-mayg {
    display: flex;
    width: var(--max-widht);
    gap: 30px;
}

.hew-mayg-card {
    border: 1px solid black;
    border-radius: 10px;
    width: 264px;

}

.card-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hew-mayg-card-img {
    background-image: url(https://mgl.gogo.mn/newsn/thumbnail/510/images/c/2023/10/311753-13102023-1697156891-1745020475-dreams.jpg);
    background-position: center;
    background-size: cover;
    width: 263px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.hew-mayg-card-reaction {
    display: flex;
}

.hew-mayg-card-reaction>p {
    margin-top: 0;

}

footer {
    background-color: #1a1a1a;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 30px;
    width: var(--max-widht);
}

.uzeh {
    display: flex;
    ;
    align-items: center;
}

.footer-card {
    display: flex;
    gap: 30px;
}

.footer-card-first {
    width: 263.75px;
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.footer-card-img {
    background-image: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2023/10/311879-17102023-1697509775-987725771-darkaa.jpg);
    background-position: center;
    background-size: cover;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.footer-card-read {
    color: #888888;
}

.footer-card-reaction {
    display: flex;
}

.footer-card-reaction>p {
    margin-top: 0;
}

.second-footer {
    background-color: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-li {
    display: flex;
    gap: 20px;
}

.second-footer-first {
    width: var(--max-widht);
    display: flex;
    justify-content: space-between;
}

.second-footer-next>ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.last-footer {
    display: flex;
    width: var(--max-widht);
    justify-content: space-between;
}

.last-footer-icons {
    display: flex;
    justify-content: end;

}